.form-item-ppc-parameter-variables{
	width: 30%;
	float: left;
}
.form-item-ppc-available-session-variables.form-item .description{
	padding-left: 20px;
}
.form-item-ppc-paths-to-cache, .form-item-ppc-parameter-code{
	clear: both;
}
.form-item-ppc-parameter-code, .form-item-ppc-paths-to-cache, .form-item-ppc-paths-not-to-cache{
	width: 40%;	
}